:host {
  display: flex;
  align-items: center;

  & > * {
    margin: 0 5px;
  }

  .id {
    flex: 0 0 30px;
  }
  app-description {
    flex: 0 0 160px;
    display: block;
  }
  input {
    flex: 0 0 50px;
  }
  button {
    flex: 0 0 80px;
  }
}
